.flexbox-container{
    border: 1px solid  red;
    display: flex;
    justify-content: center; /*Align horizontally*/
    height: 400px;
    align-items: flex-end; /*Align vertically*/
}

.flex-item {
border: 1px solid blue;
}